.page-approve{
	.finish-notice{
		font-size: 15px;
		padding:10px 12px;
		color: #F87E4E;
		line-height: 27px;
		margin 0 12px
	}
	h3{
		font-size 13px
		padding 8px 0
		border-bottom 1px solid rgba(0,0,0,0.06)
		background-clip: padding-box;
	}
	.info .fl{
		width: 49.99%;
		font-size: 12px;
		line-height: 22px
	}
	.detail{
		padding 8px 0
		margin-bottom 8px
	}
	.info{
		margin 0 12px
		color: #9A9A9A;
		padding-left 12px
		background: #FFFFFF;
		border-radius: 10px;
		
	}
	.item{
		line-height: 22px;
		font-size: 12px;
	}
	.notice{
		color: #9A9A9A;
		font-size: 12px;
		padding-top 8px
		padding-bottom 8px 
	}
	.text{
		color: #9A9A9A;
		margin-bottom 40px
		font-size 12px
	}
	.qrcode{
		padding-top 4px
		padding-bottom 12px

	}
	.qrcode img{
		height: 11em
	}
}
