//############云之家设计风格+规范
// 颜色
$baseBlack = #3f3f3f
$baseBlue = #3cbaff
$baseYellow = #f7bf28
$baseGreen = #94d301

// 基础padding值
$basePadding = 12px

// 字体
$baseFontFamily = "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei' sans-serif
$baseFontSize = 2.8rem


//############云之家设计风格+规范
gap24 = 12px;
gap16 = 8px;
$text-black = #3f3f3f;
$text-deepblack = #232323;
$text-light = #9a9a9a;
$text-lighter = #bdbdbd;
$text-red = #f35959;
$split-line-color = #dce1e8;
$bg-color = #e9ecf1;
$white = #fff;
$text-label = #5e5e5e;

///主色
$blue = #3cbaff;
$blue-light = #3cbaff;
$blue-wathet = #95caf9;
$blue = #4fa7f5;
$green = #94d301;
$orange = #f87e4e;
$yellow = #f7bf28;
$red = #f35959;
$text-h2 = #2c2c2c;
$border = 1px solid #dce1e8;

fs-smallest = 2.4rem;
fs-smaller = 2.6rem;
fs-small = 2.8rem;
fs-normal = 3.0rem;
fs-big = 3.4rem;



$gap34 = 17px;
$height88 = 44px;
height88() {
    height:$height88;
    line-height:$height88;  
}
p-left12() {
    padding-left:gap24;
}
p-right12(){
    padding-right:gap24;
}
m-left12() {
    margin-left:gap24;
}
m-right12() {
    margin-right:gap24;
}



